#Nav\.Link,
a {
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 0 2rem;
}

.companyLogo {
    height: 10vh;
    width: 100%;
    object-fit: contain;
    mix-blend-mode: color-burn;

}
#root > div > div.justify-content-center.nav > div:nth-child(1) > a > svg > path{
    background-color: rgba(29, 60, 120, 1);

}


#root > div > nav {
    background-color: rgba(29, 60, 120, 1);

}
#Nav\.Link {
    text-decoration: none;

}
.offertTag {
    color: white;
    font-size: large;
    font-weight: 500;
}
.offertTag:hover {
    color: white;
    font-size: large;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    color: red;
}
.companyName {
    font-size: 3rem;
}

.myForm {
    background-color: rgba(255, 255, 255, 0.8);
}
